.footer {
    min-height: 277px;

    .brand {
        font-family: "Norse", sans-serif;
        
        .logo {
            height: 70px;
        }
        .logo-text {
            color: #cc9543;
            font-size: 1.6em;
            font-weight: bold;
            padding-left: 0.5em;
        }

        @media (max-width: 480px) {
            .logo {
                height: 60px;
            }
        }
        @media (max-width: 992px) {
            .logo {
                height: 70px;
            }
        }
        @media (max-width: 1036px) {
            .logo-text {
                font-size: 1.25em;
            }
        }
    }

    .social {
        font-size: 24px;
        color: #cc9543;
        
        a {
            padding: 0 15px;
        }
        span {
            color: #cc9543;
            &:hover {
                color: #000;
            }
        }
    }

    &-links-container {
        width: 130px;
        height: 90px;
        a {
            color: rgba(74,74,74,0.7);
            font-weight: bold;
        }
    }

    @media (max-width: 768px) {
        .brand {
            display: none;
        }
        .social, .links {
            grid-column: span 6;
        }
    }
    @media (max-width: 480px) {
        .links {
            display: none;
        }
        .social {
            grid-column: span 12;
            a {
                padding: 0 30px;
            }
        }
    }
}