// Clear header from navbar at tablet breakpoint
@media (max-width: 767px) {
    .spacer {
        height: 100px;
        width: 100%;
    }
}

.header {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ce973e;
    padding-bottom: 60px;
    
    .hero {
        &-main {
            padding-bottom: 30px;
        }
        &-secondary {
            padding: 0 5px 70px;
        }
    }
}